%div.experiment-container.experiment-control

  .container.slp-container#plans
    .row.u-padding-top-sm.u-padding-bottom-sm
      = partial "/includes/pricing-control-2020"

  .container.slp-container#feature-comparison
    .row.u-padding-bottom-md

      -# old version
      -#= partial "includes/features/pricing-feature-comparison", locals: { product_one: data.features.devops_tools.gitlab_core, product_two: data.features.devops_tools.gitlab_starter, product_three: data.features.devops_tools.gitlab_premium, product_four: data.features.devops_tools.gitlab_ultimate, key_one: 'gitlab_core', key_two: 'gitlab_premium', key_three: 'gitlab_ultimate', name_one: 'Free', name_two: 'Premium', name_three: 'Ultimate', gitlab_com_features: false, highlight_features: false, feature_list_view_more_value: "1" }

      -# grouped version
      = partial "includes/features/pricing-feature-comparison-grouped"