.container-fluid{:style => "position: relative"}
  .custom-gray-bg
  .container.u-padding-bottom-lg
    %h2.u-margin-bottom-sm.text-center.u-margin-top-md
      What to watch
    .video-slider
      - data.video_carousel.each do |video|
        -if video.carousel_identifier.include?("Homepage Carousel 1")
          = partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link}

  - data.video_carousel.each do |video|
    -if video.carousel_identifier.include?("Homepage Carousel 1")
      = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title, photourl: video.photourl, photourl: video.photourl}